body {
    background-image:url(http://i1-news.softpedia-static.com/images/news2/Snowpack-Decline-Causes-Cascading-Ecological-Effects-in-the-Rockies-2.jpg);
}

.heading, article {
    text-align: center;
}

img {
    padding: 10px;
    width: 35%
}
nav {
    /*text-align: right; Doesn't work*/
    float: right;
}

.moveover {
    text-align: right;
}